<configuration>
    # Console appender
    # File appender
    <appender name="fout" class="ch.qos.logback.core.FileAppender">
        <file>C:\Users\naminari\Downloads\лабы\Прога\clientLog.log</file>
        <append>true</append>
        <encoder>
            # Pattern of log message for file appender
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</pattern>
        </encoder>
    </appender>
    # Override log level for specified package
    <root level="ERROR">
        <appender-ref ref="fout" />
    </root>
    <root level="WARNING">
        <appender-ref ref="fout" />
    </root>
    <root level="INFO">
        <appender-ref ref="fout" />
    </root>
</configuration>